pkgbase = redpanda-cpp
	pkgdesc = A fast, lightweight, open source, and cross platform C/C++/GNU Assembly IDE
	pkgver = 3.2
	pkgrel = 2
	url = https://github.com/royqh1979/RedPanda-CPP
	arch = i686
	arch = pentium4
	arch = x86_64
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	arch = riscv64
	arch = loong64
	license = GPL3
	makedepends = qt6-tools
	makedepends = imagemagick
	makedepends = librsvg
	depends = qt6-base
	depends = qt6-svg
	depends = gcc
	depends = gdb
	depends = astyle
	optdepends = clang: C/C++ compiler (alternative)
	source = RedPanda-CPP-3.2.tar.gz::https://github.com/royqh1979/RedPanda-CPP/archive/refs/tags/v3.2.tar.gz
	source = compiler_hint.lua
	source = 0001-fix-crash-when-debug.patch
	source = 0002-fix-qt-6.9-build.patch
	sha256sums = dc2267d793a553373a78c8a4624e908fab9bc1624c3abd12da5a1278d58219f7
	sha256sums = 6f887af50757c2ec7d57806b78119e0271c424db2119fbc62d111c2122c06b0c
	sha256sums = 632d966f60999ba121fe37c297ef3f02128bb53f845d7630e0f3839df232bd4d
	sha256sums = 6d55bf146ebce9b62b713f3a90e5f698c336daa4561cfba826bea5e95184725c
	optdepends_x86_64 = mingw-w64-gcc: Windows C/C++ compiler
	optdepends_x86_64 = wine: run Windows executable
	optdepends_x86_64 = aarch64-linux-gnu-gcc: AArch64 C/C++ compiler
	optdepends_x86_64 = qemu-user-static: run AArch64 executable
	optdepends_x86_64 = qemu-user-static-binfmt: run AArch64 executable

pkgname = redpanda-cpp
