pkgbase = redpanda-cpp
	pkgdesc = A fast, lightweight, open source, and cross platform C/C++/GNU Assembly IDE
	pkgver = 3.0
	pkgrel = 1
	url = https://github.com/royqh1979/RedPanda-CPP
	arch = i686
	arch = pentium4
	arch = x86_64
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	arch = riscv64
	license = GPL3
	makedepends = qt5-tools
	makedepends = imagemagick
	makedepends = librsvg
	depends = qt5-base
	depends = qt5-svg
	depends = gcc
	depends = gdb
	depends = astyle
	optdepends = clang: C/C++ compiler (alternative)
	source = RedPanda-CPP-3.0.tar.gz::https://github.com/royqh1979/RedPanda-CPP/archive/refs/tags/v3.0.tar.gz
	source = compiler_hint.lua
	sha256sums = 82142ed470f15bdb31a9b4e5fccc733d0a357b40f5d116311a1698fb8325c11c
	sha256sums = 207f409d93100575e1d01842475880f6a78f095680246d98e61e72d272671448
	optdepends_x86_64 = mingw-w64-gcc: Windows C/C++ compiler
	optdepends_x86_64 = wine: run Windows executable
	optdepends_x86_64 = aarch64-linux-gnu-gcc: AArch64 C/C++ compiler
	optdepends_x86_64 = qemu-user-static: run AArch64 executable
	optdepends_x86_64 = qemu-user-static-binfmt: run AArch64 executable

pkgname = redpanda-cpp
