pkgbase = redpanda-cpp
	pkgdesc = A fast, lightweight, open source, and cross platform C/C++/GNU Assembly IDE
	pkgver = 3.3
	pkgrel = 1
	url = https://github.com/royqh1979/RedPanda-CPP
	arch = i686
	arch = pentium4
	arch = x86_64
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	arch = riscv64
	arch = loong64
	license = GPL3
	makedepends = qt6-tools
	makedepends = imagemagick
	makedepends = librsvg
	depends = qt6-base
	depends = qt6-svg
	depends = gcc
	depends = gdb
	depends = astyle
	optdepends = clang: C/C++ compiler (alternative)
	source = RedPanda-CPP-3.3.tar.gz::https://github.com/royqh1979/RedPanda-CPP/archive/refs/tags/v3.3.tar.gz
	source = compiler_hint.lua
	sha256sums = 4f49075e1cd163038ce571893583e56cacad8e33bde5d18765f270b0b57a4876
	sha256sums = 6f887af50757c2ec7d57806b78119e0271c424db2119fbc62d111c2122c06b0c
	optdepends_x86_64 = mingw-w64-gcc: Windows C/C++ compiler
	optdepends_x86_64 = wine: run Windows executable
	optdepends_x86_64 = aarch64-linux-gnu-gcc: AArch64 C/C++ compiler
	optdepends_x86_64 = qemu-user-static: run AArch64 executable
	optdepends_x86_64 = qemu-user-static-binfmt: run AArch64 executable

pkgname = redpanda-cpp
